@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #F8E7D5;
  --secondary: #482B25;
  --tertiary: #ED1C24;
  --primary-rgb: 248, 231, 213;
  --secondary-rgb: 72, 43, 37;
  --tertiary-rgb: 237, 28, 36;
  --margin: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

html, body {
  /* background: repeating-linear-gradient(
    -45deg,
    rgba(var(--primary-rgb), 1) 0px,
    rgba(var(--primary-rgb), 1) 10px,
    rgba(var(--secondary-rgb), 0.1) 10px,
    rgba(var(--secondary-rgb), 0.1) 12px
  ); */
  background-color: var(--primary);
  color: var(--secondary);
  letter-spacing: 0.16px;
}

* {
  font-family: 'Lora';
}

::selection {
  color: var(--primary);
  background: var(--tertiary);
}

.star {
  position: relative;
}

.star::before {
  display: none;
  content: '';
  background: url('/icons/star-tertiary.svg') no-repeat center center;
  width: 1rem;
  height: 1rem;
  color: var(--tertiary);
  position: absolute;
  top: 1.75rem;
  left: -1.5rem;
  animation: rotate 4s linear infinite;
}

.wrapper {
  width: calc(100% - 2rem);
  margin-left: 1rem;
}

@media (min-width: 1024px) {
  .wrapper {
    width: calc(100% - 16rem);
    margin-left: 8rem;
  }

  .star::before {
    display: block;
  }
}

@media (min-width: 1536px) {
  .wrapper {
    width: calc(100% - 24rem);
    margin-left: 12rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.link,
.link a {
  border-bottom: 1px solid transparent;
  color: var(--tertiary);
  transition: .3s all ease-out;
}

a.link:hover,
.link a:hover {
  border-bottom: 1px solid var(--tertiary);
}

.otto-attack {
  font-family: 'OttoAttackType';
}

:focus-visible {
  outline-style: dashed;
  border-radius: 0rem;
  outline-color: var(--tertiary);
  outline-width: 2px;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/LoraVariable.ttf');
  font-style: normal;
}

